<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>

<div class="container"> 


	<div class="content">



		<div class="nav">
			<ul class="links">
				<li id="search"> Search </li>
				<a href = /jobs/new id="new_job"> List job </a>
		</div>


		<div class="main">


			<h2> all jobs </h2>
				<% @jobs.each do |job| %>
				
				<%= link_to job.title, job_path(job) %>				<br>

				<br>	


					<% end %>
			</div>



		</div>


	</div>

</div>
