<div class="row" style='margin: 0px'> 
	<div class="col-md-6">
	<h1>Jobs#index</h1>
		<div id="sidebar-wrapper">
			<%= render 'slider' %>
  	</div>
  	<br>
		<div class="main">
			<h2> all jobs </h2>		
    	<br>
			<%= render 'list', :object => @jobs %>
		</div>
	</div>
	<div class = "col-md-6" id="map-container">
	  <div id="map" style='width: 100%; height: 92vh;'></div>
	</div>
</div>

