<div id="job-index-content" class="row" style='margin: 0px'> 
	<div class="col-md-6" id="left-job-index">

		<div id="sidebar-wrapper">
			<h1>Jobs#index</h1>
			<%= render 'slider' %>
  	</div>
  	<div class="spacer">
		  &nbsp;
		</div>
		<div class="job-lists">	
			<%= render 'list', :object => @jobs %>
		</div>
	</div>
	<div class = "col-md-6" id="map-container">
	  <div id="map" style='width: 100%; height: 92vh;'></div>
	</div>
</div>

