<div class="container-fluid">

	
</div>





<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
					<div class="panel-heading"><h1><%=	@job.title %></h1></div>
						<div class="panel-body"><p class="description"><%= simple_format(@job.description) %></p></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-body">
					<address>
						 <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890
					</address>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
