<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="container-fluid homepage-hero-style-image">
	<div class="row" >
		<div class="col-md-12">
			<h3 class="text-center text-muted">
				h3. Lorem ipsum dolor sit amet.
			</h3>
		</div>
	</div>


	<div id="categories">
			<div class="category-post-container clear">
					<div class="categories-post-grid">
							<div class="category" id="category-nature">
									<div class="category-post-container root-category clear">
											<ul>
													<li class="bigger" style="background-image: url('http://thelifepile.com/wp-content/uploads/2016/05/1412766931832680687.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Language</a>
																			</h2>
																	</div>
															</div>
													</li>
													<li class="" style="background-image: url('http://peachesnclean.com/wp-content/uploads/2014/04/janitorial-montgomery-alabama1.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Cleaning</a>
																			</h2>

																	</div>
															</div>
													</li>
													<li class="" style="background-image: url('http://images.fineartamerica.com/images-medium-large/handcraft-okan-yilmaz.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Hand Craft</a>
																			</h2>
																	</div>
															</div>
													</li>
													<li class="" style="background-image: url('http://wallpapercave.com/wp/ETtYan4.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Music</a>
																			</h2>
																	</div>
															</div>
													</li>
													<li class="" style="background-image: url('http://www.christineellison.com/wp-content/uploads/2013/11/social-work-lecture-series.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Social Work</a>
																			</h2>
																	</div>
															</div>
													</li>
													<li class="" style="background-image: url('http://bisde.org/wp-content/uploads/2016/06/6.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Photograph</a>
																			</h2>
																	</div>
															</div>
													</li>
													<li class="" style="background-image: url('http://www.thehouben.com/image/content/Cooking-class.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Cooking</a>
																			</h2>
																	</div>
															</div>
													</li>
											</ul>
									</div>
							</div>
					</div>
			</div>
	</div>
  <div class="row">
		<div class="col-md-12">
			<h3 class="text-center text-muted">
				h3. Lorem ipsum dolor sit amet.
			</h3>
		</div>
	</div>




	<div class="row">
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
</div>



html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.container {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
}
img {
	max-width: 100%;
}
figure {
	margin: 0;
	padding: 0;
}
ul.photo-gallery-list {
	list-style: none;
	padding: 0;
	margin: 0 -15px;
	li {
		display: inline-block;
		width: 24.55%;
		padding: 0 15px;
		margin-bottom: 25px;
		vertical-align: top;
		position: relative;
	}
	figure {

	}
	li:nth-child(3) {
		width: 50%;
	}
	li:nth-child(4) {
		width: 50%;
	}
}
