
<div class="row" >
	<div class="col-md-12 column1">
		<div class="hero-unit">
		<h1 class="headerline">Explore this City</h1>

		<%= form_tag "/jobs",  method: :get, class: "navbar-form navbar-left", id: "search-submit" do %>
			<div class ="mysearchbar">
				<div class="form-group">
					<%= text_field_tag :query,"", {id: "query", class: "form-control typeahead", placeholder: "Search", autocomplete: "off", :autofocus=>true}  %>
				</div>
				<%= submit_tag "Search", {class: "btn btn-default"} %>
			</div>
		<% end %>








   </div>
		<!-- <div align="center" class="embed-responsive embed-responsive-16by9">
		   <video autoplay loop class="embed-responsive-item">
		       <source src="https://a0.muscache.com/airbnb/static/P1-background-vid-compressed-2.mp4" type="video/mp4">
		   </video>
		</div> -->
	</div>
</div>


<div class="container my-custom-container">
	<div class="row" >
		<div class="col-md-12 column1">
			<h1 class="text-center text-muted">
			What are you interested in?
			</h1>
			<h3 class="text-center text-muted">Discover & connect with great local businesses in Malaysia</h3>
		</div>
	</div>



	<div id="categories">
			<div class="category-post-container clear">
					<div class="categories-post-grid">
							<div class="category" id="category-nature">
									<div class="category-post-container root-category clear">
											<ul>
													<li class="img-rounded" style="background-image: url('http://images.fineartamerica.com/images-medium-large/handcraft-okan-yilmaz.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Hand Craft</a>
																			</h2>
																	</div>
															</div>
													</li>
													<li class="img-rounded" style="background-image: url('http://wallpapercave.com/wp/ETtYan4.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Music</a>
																			</h2>
																	</div>
															</div>
													</li>
													<li class="img-rounded" style="background-image: url('http://www.christineellison.com/wp-content/uploads/2013/11/social-work-lecture-series.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Social Work</a>
																			</h2>
																	</div>
															</div>
													</li>
													<li class="img-rounded" style="background-image: url('http://bisde.org/wp-content/uploads/2016/06/6.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Photo</a>
																			</h2>
																	</div>
															</div>
													</li>
													<li class="img-rounded" style="background-image: url('http://www.thehouben.com/image/content/Cooking-class.jpg')">
															<div class="post-meta">
																	<a class="square-link-cover" href="#"></a>
																	<div class="post-titles">
																			<h2>
																				<a href="#">Cooking</a>
																			</h2>
																	</div>
															</div>
													</li>
											</ul>
									</div>
							</div>
					</div>
			</div>
	</div>





  <div class="row">
		<div class="col-md-12 lastcolumn">
			<h1 class="text-center text-muted">
				The Most Popular Jobs in the City
			</h1>
			<h3 class="text-center text-muted">Explore some of the best tips from around the city from our partners and friends.</h3>
		</div>
	</div>




	<div class="row">
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
</div>
