h1,h2,h3,h4{
  font-family: 'Raleway', sans-serif;
}

.column1{

  padding-bottom: 80px;
  // max-height: 700px;

}

.hero-unit {
  background-image:url('cover3.jpg');
  background-size:cover;

   max-width: 100%;
   min-height:700px;


  }
.hero-unit h1 {
    color: #FFFFFF;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}
.hero-unit h2 {
    font-size: 25px;
    color: #FFFFFF;

}

.mysearchbar{
  margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.mybrand {
  font-family: 'Pacifico', cursive;
  font-size: 24pt;
}

.headerline{
  font-family: 'Pacifico', cursive;
  font-size: 45pt;
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

#query{
  min-width: 500px;
}
// .fill{
//   width:100%;
//   height:350px;
//   background-position:center;
//   background-size:cover;
// }

@media (min-width: 768px) {
.my-custom-container{
    width:600px;
}}

@media (min-width: 992px) {
.my-custom-container{
    width:720px;
}}

@media (min-width: 1200px) {
.my-custom-container{
    width:970px;
}}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.jobs.index div.navbar {
    margin-bottom: 0 !important;
}

img {
	max-width: 100%;

}
figure {
	margin: 0;
	padding: 0;
}
ul.photo-gallery-list {
	list-style: none;
	padding: 0;
	margin: 0 -15px;
	li {
		display: inline-block;
		width: 24.55%;
		padding: 0 15px;
		margin-bottom: 25px;
		vertical-align: top;
		position: relative;
	}
	figure {

	}
	li:nth-child(3) {
		width: 50%;
	}
	li:nth-child(4) {
		width: 50%;
	}
}






.lastcolumn {
  padding-top:150px;
  padding-bottom: 100px;

}

.clear:before, .category:before, .clear:after, .category:after {
    content: " ";
    display: block;
}
.clear:after, .category:after {
    clear: both;
}


#categories .categories-post-grid {
    overflow: hidden
}

#categories .categories-post-grid .category {
    position: relative
}

#categories .categories-post-grid ul,
#categories .categories-post-grid li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0
}

#categories .categories-post-grid .category .category-post-container {
    overflow: hidden;

    position: relative
}

#categories .categories-post-grid .category ul {
    width: 100%;
    float: left
}

#categories .categories-post-grid .category ul:before,
#categories .categories-post-grid .category ul:after {
    content: " ";
    display: table
}

#categories .categories-post-grid .category ul:after {
    clear: both
}

#categories .categories-post-grid .category li {
    cursor: pointer;
    background: #1d1d1d;
    background-size: cover !important;
    background-position: center center;
    float: left;
    padding-bottom: 19%;
    width: 19%;
    box-sizing: border-box;
    border: solid 0px #fff;
    border-top: none;
    border-right: none;
    position: relative;
    margin: 0.5%
}

#categories .categories-post-grid .category li:nth-child(odd) {
    background: #ccc
}

#categories .categories-post-grid .category li:first-child {
    border-left: none
}

#categories .categories-post-grid .category li.bigger {
    width: 39%;
    padding-bottom: 39%;
    float: left
}

#categories .categories-post-grid .category li.bigger.right {
    float: right
}

#categories .categories-post-grid .category li.bigger .post-meta {
    opacity: 1
}

#categories .categories-post-grid .category li.bigger .post-meta h2 {
    width: 90%;
    margin: 0 auto;
}

#categories .categories-post-grid .category li.bigger .post-meta h3 {
    width: 100%;
    font-size: 12px;
    margin: 0
}

#categories .categories-post-grid .category li a.square-link-cover {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 555;
    border: none !important;
    background: rgba(black,0.3);
}

#categories .categories-post-grid .category li .post-meta {
    color: #808080;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

#categories .categories-post-grid .category li .post-meta .post-titles {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 20px 0;
    z-index: 999999;

    font-family: 'Raleway', sans-serif;
    -webkit-transition: all 340ms cubic-bezier(0.42, 0, 0.585, 1);
    -webkit-transition: all 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
    -moz-transition: all 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
    -ms-transition: all 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
    -o-transition: all 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
    transition: all 340ms cubic-bezier(0.42, 0, 0.585, 1.23)
}


#categories .categories-post-grid .category li .post-meta h2 {
    width: 90%;
    margin: 0px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: normal;
    -webkit-transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1);
    -webkit-transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
    -moz-transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
    -ms-transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
    -o-transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1.23);
    transition: opacity 340ms cubic-bezier(0.42, 0, 0.585, 1.23)
}

#categories .categories-post-grid .category li .post-meta h3 {
    display: none;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    line-height: normal
}

#categories .categories-post-grid .category li .post-meta a {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;

    border: 1px;
}

#categories .categories-post-grid .category li .post-meta a:hover {
  
      background: rgba(black,0.1);

}

#user-score {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

#big-star {
    height: 180px;
    width: 210px;
}

#user-review-count {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

#user-container {
    height: calc(100% - 50px);
    overflow: auto;
}

.thumbnail {
    height: 360px;
    padding:0;
}


.style_image {
    width: 100%;
    height: 138px !important;
}


#job_profile{
    float:right;
}