// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav {
	font-size: 15px
}

#job-index-content{
	height: 92vh;
	width: 100%;
}

#left-job-index{
	float: left;
  max-height:100%;
  overflow-x: hidden;
}

#sidebar-wrapper{
	opacity: 1.0;
	position: fixed;
	height: 150px;
	width: 50%;
  background-color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
	z-index: 10;
	left: 0px !important;
}

.spacer{
  width: 100%;
  height: 155px;
  overflow-y: hidden;
}

.job-lists{
	overflow-y: auto;
	overflow-x: hidden;
}

#search-submit2{
	margin-left: 1.7em;	
}

.btn-to-submit{
	width: 5em;
}

#map-container{
	margin: 0px;
	padding: 0px;
	float: left;
	max-height:100%;
}

#list_job .box{
	position:relative
}

#list_job .panel-heading{
	padding: 0px !important;
	background: #FFF !important;
}



.job-span{
	position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

}

.new-job-des {
	min-height: auto;
	resize: none;
}

.job-info-col{
	height: 100%;
}

.job-info-col table{
	text-align:center;
}

.job-info-col th{
	font-size:12px;

}

.job-info-col td{
	text-align:left;

}

.info_window_image{
	max-width: 50px;
	max-height: 50px;
}
