#sign-page{
  padding: 0;
  margin-top: -20px;
  background-position: 50% 50% !important;
  background: url("https://s3-ap-southeast-1.amazonaws.com/livegowork/livegowork.jpeg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 110%;
  min-width: 800px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  z-index: -1;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


#sign-box{
  float :right;
  margin-top: 200px;
  margin-right: 350px;
  width: 30em;
  height: 35em;
  align-items: center;
  background-color: rgba(white, 0.5);
}


#sign-boxs{
  float :right;
  margin-top: 150px;
  margin-right: 220px;
  width: 28em;
  height: 32em;
  align-items: center;
  background-color: rgba(white, 0.8);
}



#sign-boxe{
  float :right;
  margin-top: 200px;
  margin-right: 180px;
  width: 32em;
  height: 34em;
  align-items: center;
  background-color: rgba(white, 0.8);
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;


}

.sign-up {


  padding-left: 55px;

  width: 25em;


}

.sign-in {

  padding-left: 80px;

  width: 25em;
  
}


.loginmodal-register{
  cursor: pointer;
}

